@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
	@apply bg-background pt-[60px] font-default-sans text-foreground;
}

@layer base {
	header {
		@apply fixed top-0 z-50 w-full border-b border-b-secondary-900 bg-background;
	}

	main {
		@apply mx-auto my-6 max-w-6xl px-4 sm:px-8 md:px-16 lg:px-24;

		--page-transition-from-x: 0;
		--page-transition-from-y: 64px;

		transform: translate(
			var(--page-transition-from-x),
			var(--page-transition-from-y));
		opacity: 0;
		transition:
			opacity 1s ease,
			transform 1s ease;
	}

	main.active {
		opacity: 1;
		transform: translate(0px, 0px);
	}

	section {
		@apply mb-8 mt-12;
	}

	footer {
		@apply my-4 border-t border-t-secondary-900 py-4 text-center text-sm text-secondary-700;
	}
}

.title {
	@apply mb-0 text-center font-default-sans text-4xl font-black text-foreground;
}

.subtitle {
	@apply text-center text-secondary-200;
}

.section-h2 {
	@apply font-default-sans text-3xl font-bold text-foreground;
}

.section-h3 {
	@apply font-default-sans text-2xl font-semibold text-foreground;
}

.section-h4 {
	@apply font-default-sans text-xl font-light text-secondary-300;
}

.btn {
	@apply select-none items-center justify-between rounded-lg px-8 py-2.5 sm:px-6 sm:py-2;
}

.primary-btn {
	@apply btn bg-primary-main text-white hover:animate-glow-primary-hover active:animate-glow-primary-active;
}

.social-btn {
	@apply btn mx-0.5 my-1 w-full border text-white sm:w-64 md:w-36 md:px-4 lg:mx-1 lg:w-44 lg:px-8;
}
